[Unit]
Description=Duckey Core Screen Service
After=roscore-screen.service dev-ttyTHS0.device
Requires=roscore-screen.service dev-ttyTHS0.device

[Service]
Type=forking
User=initial
ExecStart=/usr/bin/screen -dmS infra roslaunch hardware_utils duckey_core.launch fcu_url:="/dev/ttyTHS1:500000"
ExecStop=/usr/bin/screen -S infra -X quit
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target