[Unit]
Description=duckey core launcher
After=roscore.service dev-ttyTHS0.device
Requires=roscore.service dev-ttyTHS0.device

[Service]
User=initial
EnvironmentFile=/home/initial/.bash_profile
ExecStartPre=/bin/bash -l -c 'rostopic list'
ExecStart=/usr/bin/screen -S infra -ADm bash -l -c 'roslaunch hardware_utils duckey_core.launch fcu_url:="/dev/ttyTHS0:500000" self_id:=${DRONE_ID}'
Type=simple
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target