[Unit]
Description=duckey core launcher
After=roscore.service dev-ttyTHS0.device
Requires=roscore.service dev-ttyTHS0.device

[Service]
User=initial
ExecStartPre=/bin/bash -l -c 'rostopic list'
ExecStart=/usr/bin/screen -S infra -ADm bash -l -c 'roslaunch hardware_utils duckey_core.launch '
Type=simple
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target