[Unit]
Description=ROS Core Screen Service
After=network.target

[Service]
Type=forking
User=initial
Environment="HOME=/home/initial"
WorkingDirectory=/home/initial
ExecStart=/usr/bin/screen -dmS roscore /bin/bash -c "source /opt/ros/noetic/setup.bash && roscore"
ExecStop=/usr/bin/screen -S roscore -X quit
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target