[Unit]
Description=ROS Core Screen Service
After=network.target

[Service]
Type=forking
User=initial
ExecStart=/usr/bin/screen -dmS roscore roscore
ExecStop=/usr/bin/screen -S roscore -X quit
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target