[Unit]
Description=duckey core launcher
After=roscore.service
Requires=roscore.service

[Service]
User=initial
EnvironmentFile=/home/initial/.bash_profile
ExecStartPre=/bin/bash -l -c 'rostopic list'
ExecStart=/usr/bin/screen -S slam -ADm bash -l -c 'roslaunch d2vins slam.launch self_id:=${DRONE_ID}'
Type=simple
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target