[Unit]
Description=D2VINS SLAM Screen Service
After=duckey-core-screen.service
Requires=duckey-core-screen.service

[Service]
Type=forking
User=initial
ExecStart=/usr/bin/screen -dmS slam roslaunch d2vins slam.launch
ExecStop=/usr/bin/screen -S slam -X quit
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target